<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/XSL/Transfo">
  <head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
    <link href="css/SignUp.css" rel="stylesheet" type="text/css" />
    <link href="css/SignIn.css" rel="stylesheet" type="text/css" />

    <!-- favicon -->
    <link rel="icon" href="img/styleguide-icon.png" />
    <link rel="styleguide-icon" href="img/styleguide-icon.png" />
  </head>

  <body>
    <div class="container">
      <img class="logo_styleguide" src="/img/styleguide.jpg" alt="styleguide_logo" />

      <form th:action="signup" method="POST">
        <input type="text" class="input_signup" name="userID" id="id" placeholder="아이디" required="required" maxlength="20">
        <input type="password" class="input_signup" name="password" id="password" placeholder="비밀번호" required="required">
        <input type="text" class="input_signup" name="name" id="name" placeholder="이름" required="required" />
        <input type="email" class="input_signup" name="email" id="email" placeholder="이메일 주소" required="required"  maxlength="50"/>
        <input type="text" class="input_signup" name="contact" id="phone" placeholder="전화번호" required="required" maxlength="11"/>
<!--        <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin-->
<!--        <input type="hidden" name="auth" value="ROLE_USER">-->
        <button id="btn_signup">회원가입</button>
      </form><br>

      <span class="email_input_check" th:if="${param.error}" > 이메일 계정이 이미 존재합니다. </span>
      <a href="/login" class="button_login">계정이 있으신가요? 로그인</a>
    </div>
  </body>
  <script src="js/SignUp.js"></script>
</html>