<!DOCTYPE html>
<html
  lang="en"
  xmlns:c="http://www.w3.org/1999/XSL/Transform"
  xmlns:th="https://www.thymeleaf.org/"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>style guide</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="img/styleguide-icon.png" />

    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="/style/story.css" rel="stylesheet" type="text/css" />
    <link href="/main/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="/salepage/salemain.css" rel="stylesheet" type="text/css" />
  </head>
  <nav class="navbar">
    <div class="logo">
      <img src="/img/styleguide.jpg" alt="" />
    </div>
    <div class="search">
      <input type="text" placeholder="Search" />
      <div class="searchbtn"></div>
    </div>
    <div class="icons">
      <a href="/post/story"
        ><img src="/img/mypage.png" width="25" height="25" alt="홈"
      /></a>
      <a href="/post/popular"
        ><img src="/img/Login.jpg" width="25" height="25" alt="탐색"
      /></a>
      <div class="notification">
        <span data-count="5+"></span>
      </div>
    </div>
  </nav>

  <!----------------side bar----->
  <nav class="navbar">
    <div class="logo">
      <i class="material-icons"></i>
      <a href="/"><img src="/img/styleguide.jpg" alt="" /></a>
    </div>
    <div class="search">
      <form action="#" method="post">
        <input
          id="tag"
          name="tag"
          type="text"
          class="material-icons"
          placeholder="검색"
        />
      </form>
    </div>
    <div class="icons">
      <!--    <a href="/post/story"><img src="/img/mypage.png"  alt="마이페이지"></a>-->
      <a href="/profile"><img src="/img/mypage.png" alt="마이페이지" /></a>
      <a href="/login"><img src="/img/Login.jpg" alt="로그인" /></a>
      <div class="notification">
        <a href="#"><img src="/img/notification.png" alt="채팅알림" /></a>
        <span data-count="5+"></span>
      </div>
    </div>
  </nav>

  <div class="sidebar">
    <div class="links">
      <div class="icon">
        <a href="#"><i class="material-icons">home</i> <span>Home</span></a>
      </div>
    </div>
    <div class="links links-2">
      <div class="icon">
        <a href="#"
          ><i class="material-icons">구독 목록</i> <span>구독</span></a
        >
      </div>
    </div>
    <div class="subscription links">
      <h4>좋아요 목록</h4>
      <div class="icon">
        <a href="#"><i class="material-icons">좋아요</i> <span>좋아요</span></a>
      </div>
    </div>
  </div>

  <body>
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">
        <div class="section-title">
          <h2 th:text="|${userInfoDto.userInfo.name}의 옷장|"></h2>
<!--      스타일리스트 소개 comment 등록 기능 + 출력 -->
          <p>
            "옷을 잘 입는 것과 스타일리시 한 것은 다르다"고 말하는 그녀는
            "스타일이란 꾸미든 꾸미지 않든 그 사람이 가지고 있는 개성에서 풍겨져
            나오는 맛과 같은 것"이라고 합니다.
          </p>
          <button type="submit" class="cta blue">구독하기</button>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">ALL</li>
              <li data-filter=".filter-app">상의</li>
              <li data-filter=".filter-card">하의</li>
              <li data-filter=".filter-web">아우터</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img th:src=@{${stylelistDto[0].pic_name}} class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4 th:text="${stylelistDto[2].product_name}"></h4>
              </div>
              <div class="portfolio-links">
                <a
                  class="portfolio-lightbox"
                  th:href="${stylelistDto[0].pic_name}"
                  data-gallery="portfolioGallery"
                  title="app1"
                  ><i class="bx bx-plus"></i
                ></a>
                <a th:href="|http://localhost:8080/clothesdetails?id=${stylelistDto[0].Idx}|" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/fashion/out1.jpg" class="img-fluid" alt="" />
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/fashion/out1.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Web 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-3.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-3.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="App 2"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-4.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-4.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Card 2"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-5.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-5.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Web 2"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-6.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-6.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="App 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-7.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-7.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Card 1"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-8.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-8.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Card 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/portfolio-9.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a
                  href="assets/img/portfolio/portfolio-9.jpg"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="Web 3"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="saledetails" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2021
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->

    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Core theme JS-->
    <script src="salepage/salepage.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
