<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>style guide </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="img/styleguide-icon.png" />

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <link href="assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="adminpage/css/member.css">



</head>

<div style="text-align:center;">
    <a href="/" ><img src="/img/styleguide.jpg" alt=""></a>
</div>


<body>

<div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
        <h1><a href="#">관리자 모드</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto " href="admin">홈</a></li>
            <li><a class="nav-link scrollto" href="member">회원관리</a></li>
            <li><a class="nav-link scrollto" href="sales">매출조회</a></li>
            <li><a class="nav-link scrollto" href="upload">상품등록</a></li>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}"><img src="/img/Login.jpg"/></a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/login}"><img src="/img/logout.jpg" whidth="35" height="35"/></a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</div>
<div class="member-list">
    <form class="memberform" action="upload" name="upload" method="post" autocapitalize="on" enctype="multipart/form-data">
        <br><br><br><br><br>


        <tr  th:each="i : ${clothesList}">
            <label>
                구독자
                <input type="text" name="name"
                       th:value="${i.#authentication.getPrincipal().getUserInfo().getName()}"
                       placeholder="익명">
            </label>
            <br>
            <label>
                제품
                <input type="text" name="product_name"
                       th:value="${i.product_name}"
                       placeholder="상품">
            </label>

            <!--        <td th:text="${i.product_name}"></td>-->

            <label>
                제품 가격
                <input type="number" name="product_price"
                       th:value="${i.product_price}"
                       placeholder="">
            </label>
            <br>
            <br>
            <br>
        </tr>
        <!--    <label class="btn-box">-->
        <!--        <button type="submit" class="upload-btn">-->
        <!--            등록하기-->
        <!--        </button>-->
        <!--        <a href="edit.html">-->
        <!--            <button type="button" class="edit-btn">-->
        <!--                삭제하기-->
        <!--            </button>-->
        <!--        </a>-->
        <!--    </label>-->
    </form>
</div>




<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->

<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>


<!-- Core theme JS-->
<script src="salepage/salepage.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
