<!DOCTYPE html>
<html  lang="ko"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>style guide </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="img/styleguide-icon.png" />

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <link href="assets/css/style.css" rel="stylesheet">
    <link href="adminpage/css/upload.css" rel="stylesheet">



</head>

<div style="text-align:center;">
    <a href="/" ><img src="/img/styleguide.jpg" alt=""></a>
</div>


<body>

<div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
        <h1><a href="#">관리자 모드</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto " href="admin">홈</a></li>
            <li><a class="nav-link scrollto" href="member">회원관리</a></li>
            <li><a class="nav-link scrollto" href="sales">매출조회</a></li>
            <li><a class="nav-link scrollto" href="upload">상품등록</a></li>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}"><img src="/img/Login.jpg"/></a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/login}"><img src="/img/logout.jpg" whidth="35" height="35"~/></a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

</div>

<form class="upload-form" action="upload" name="upload" method="post" autocapitalize="on" enctype="multipart/form-data">
<!--    <label> &lt;!&ndash; for과 id가 일치하면 묶임, 근데 암시적으로 이렇게 label 태그 안에다가 묶어서 사용 가능 이게 가시성이 더 좋아 이렇게 진행 &ndash;&gt;-->
<!--        카테고리-->
<!--        <select name="category-lg"> &lt;!&ndash;name은 서버로 보낼 이름, category로 지정해줌 &ndash;&gt;-->
<!--            <option value="1">상의</option>-->
<!--            <option value="2">하의</option>-->
<!--            <option value="3">아우터</option>-->

<!--        </select>-->

<!--    </label>-->
    <label>
        상품이름
        <input type="text" name="product_name" placeholder="상품 이름을 입력해주세요.">
    </label>
    <label>
        상품가격
        <input type="number" name="product_price" placeholder="상품 가격을 입력해주세요.(숫자만 기입)">
    </label>
    <label>
        상품개수
        <input type="number" name="product_count" placeholder="상품 개수를 입력해주세요.(숫자만 기입)">
    </label>
    <label>
        상품소개
        <textarea name="product_intro" id="" cols="100" rows="20" placeholder="상품을 소개해 주세요."></textarea>
    </label>
    <label>
        상품이미지
        <input type="file" name="pic_name" >
    </label>

    <label class="btn-box">
        <button type="submit" class="upload-btn">
            등록하기
        </button>
        <a href="edit.html">
            <button type="button" class="edit-btn">
                삭제하기
            </button>
        </a>
    </label>
</form>




<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->

<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>


<!-- Core theme JS-->
<script src="salepage/salepage.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
